:root {
  /* 主标题大小 */
  --font-size-header: 2rem;
  /* 副标题(卡片标题)大小 */
  --font-size-card-title: 1.5rem;
  /* 大号文本 */
  --font-size-large: 1.3rem;
  /* 中号文本 */
  --font-size-medium: 1.2rem;
  /* 正常文本 */
  --font-size-nromal: 1rem;

  --color-font: white;

  /* 主色调 */
  --color-primary: white;
  /* 高亮色 */
  --color-highlight: rgb(120,190,203);

  /* 卡片背景色 */
  --background-card: rgb(17,33,46);
  /* 背景色 */
  --backgroud-app: black;

  /* 卡片标题颜色 */
  --color-card-header: white;
  /* 卡片标题颜色 */
  --color-card-title: white;

  /* 卡片标题高度 */
  --height-card-title: 2.5rem;

}