:root {
  /* 主标题大小 */
  --font-size-header: 84px;
  /* 副标题(卡片标题)大小 */
  --font-size-card-title: 38px;
  /* 大号文本 */
  --font-size-large: 37px;
  /* 中号文本 */
  --font-size-medium: 30px;
  /* 正常文本 */
  --font-size-nromal: 28px;
  /* 小一号 */
  --font-size-small: 28px;

  --color-font: white;

  /* 主色调 */
  --color-primary: white;
  /* 高亮色 */
  --color-highlight: #4DEED9;

  /* 卡片背景色 */
  --background-card: rgb(17,33,46);
  /* 背景色 */
  --backgroud-app: black;

  /* 卡片标题颜色 */
  --color-card-header: white;
  /* 卡片标题颜色 */
  --color-card-title: white;

  /* 卡片标题高度 */
  --height-card-title: 71px;

}